.ipynb_checkpoints
data
.DS_Store
*.zip
__pycache__
explain/
masks.ipynb
get_stats.ipynb
models/
output/
train_3000.txt
test_split_v2.txt
gensynth/
export_to_meta.py
train_tf.py
archive/
requirements.txt
